<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam sint quam maxime deleniti laboriosam et ducimus, excepturi eveniet consectetur commodi repudiandae illum aliquid itaque, numquam tempore, repellendus exercitationem nemo doloremque!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto vitae officia ex dolorum possimus tenetur delectus asperiores enim illo dolore inventore voluptatem consectetur, distinctio explicabo laudantium, ipsam quis praesentium labore.</p>
</body>
</html>