<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>Your random number is: <%= rand %></h1>
    <% if(rand % 2 === 0){ %>
        <h2>That is an even number!</h2>
    <% } else {%>
        <h2>That is an odd number!</h2>
    <% } %>
    <!--This is how you have to comment in EJS-->
    <!--Another code option below-->
    <h3>That number is:  <%= rand%2===0 ? 'EVEN' : 'ODD' %></h3>
</body>
</html>